.cardGallery {
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 5%;
  padding: 2%;
  height: auto;
  width: 50vw;
}

.cardPic {
  //   display: flex;
  height: 50vh;
  width: auto;
}

.cardText {
  text-align: center;
  background-color: lightblue;

  &_cardTitle {
    display: flex;
    justify-content: center;
    border: 1px solid white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
  }

  &_cardSubtitles {
    display: inline-block;
    justify-content: center;
    border: 1px solid #0b3d91;
    margin-top: 3%;
    width: 100%;
  }
}
