.inputBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
  margin-top: 4%;
}

.input {
  width: 30vw;
  height: 6vh;
  background-color: #0b3d91;
  color: white;
  font-size: xx-large;
}

.button {
  width: 7vw;
  height: 6vh;
  margin-left: 4%;
  font-size: large;
}
